// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.houses-index {
  display: flex;
  flex-direction: column;
  align-items: center;

  .house {
    width: 50%;
  }
}


.house-show {
  display: flex;
  flex-wrap: wrap;

  .house {
    flex: 1 0 auto;
  }

  .roster {
    flex: 1 0 auto;
    padding: 20px;
  }
}


.house {
  border: 3px solid grey;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  flex-wrap: wrap;

  .header {
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 0;
    }

    .words {
      font-style: italic;
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  .details {
    display: flex;
    flex-wrap: wrap;

  }

  .left {
    flex: 1 0 auto;
  }

  .right {
    flex: 1 0 auto;
  }

}

.content {
  display: flex;
  justify-content: center;
}
.character-show {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  align-content: center;

  .details {
    display: flex;

    .img {

    }

    .bio {
      padding: 20px;
    }
  }
}
